.layout-container {
  padding: 60px;

}

/* header */
.header-container {
  font-weight: 400;

  strong {
    font-size: 70px;
  }

  span {
    font-size: 24px;
    color: #BDBEBF;
    margin-top: 1rem;
    margin-left: .5rem;
  }
}